body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  /* font-size: 16px; */
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 16px;
  

  @media screen and (min-width: 500px) {
    font-size: calc(14px + 8 * ((100vw - 500px) / 1500));
  }
}
* {
  box-sizing: border-box;
  
}
a {
  color: $mainOrange;
}