.page-section {
    padding: 1rem 0;
    &--testimonial{
        background-image: url('/app/assets/images/testimonials-bg.jpg');
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center;
        
    }
    
    @media (min-width:$small){
        padding: 4.5rem 0;
    }
    &--blue{
        background-color: $mainBlue;
        color: white;
    }
}