.row {
  &::after {
    clear: both;
    content: "";
    display: table;
  }


  @media (min-width: $medium) {
    &__medium-4 {
      float: left;
      width: 33.3%;
    }
    &__medium-4-enlarge {
         width: 37.3%;
    }

    &__medium-8 {
      float: left;
      width: 66.6%;
    }
    &__medium-8-enlarge {
        width: 62.6%;
    }
    &__medium-6 {
    
      float: left;
      width: 50%;
      padding:5%;
    }
  }

  &--gutter > div {
    padding-right: 65px;
  }

  &--gutter {
    margin-right: -65px;
  }
  &--b-margin-until-medium {
    margin-bottom: 1rem;
    @media (min-width:$small){
      margin-bottom: 0;
    }
  }
  
  
}

