.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
  
  &--blue{
    color: $mainBlue;
  }
  strong {
    font-weight: 500;
    
  }

  &__icon {
    
    display: block;
    position: relative;
    top:12px;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;
    
  }

  @media (min-width: $small) {
    font-size: 3.75rem;
    font-weight: 300;

    strong {
      font-weight: 500;
    }

    &__icon {
      margin-right: 1rem;
      
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    
    }
  }
  
}